.card {
    display: flex;
    margin-right: 15px;
    flex: 0 0 auto;
    flex-wrap: nowrap;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Columns adjust to fit container */
    gap: 20px;
    /* Add spacing between cards */
    display: flex;
    margin-right: 15px;
    flex: 0 0 auto;
    flex-wrap: nowrap;
}